body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.form-box {
  width: 300px;
  height: 360px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -220px;
}
.logo-box {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
/* padding: 10px 0; */
/* min-height: 30px; */
/* line-height: 30px; */
/* position: relative; */
/* padding-left: 120px; */
.form-group {
  margin-bottom: 25px;
  padding-left: 0;
  min-height: auto;
}
.form-group label {
  color: #fff;
}
.form-box .form-group input {
  padding-left: 35px;
  height: 40px;
  width: 100%;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 6px center;
  color: #fff;
}
#ldoginForm {
  margin: 130px 0px 70px 0px;
}
#ldoginForm input {
  border: 0 none;
  outline-style: none;
  box-shadow: none;
  border-radius: 0;
}
#ldoginForm .user-input {
  border-bottom: 1px solid #ccc;
}
.form-group .form-control.vercode-input {
  background-image: url("../../img/sk2-images/code.png");
  display: inline-block;
  width: 54% ;
}
.vercode-img {
  width: 41%;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -3px;
}
.btn-login {
  width: 180px;
  height: 53px;
  border-radius: 27px;
  margin-left: 57px;
  font-size: 16px;
  background-color: #34bfa4;
  color: #fff;
}
/*改变谷歌记住密码样式*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #595959 inset !important;
  -webkit-text-fill-color: #fff;
}
.copyright {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #fff;
}
/*登录页样式*/
.login-left {
  width: 64%;
  height: 100%;
  float: left;
}
.login-right {
  position: relative;
  width: 36%;
  height: 100%;
  float: left;
  background: url('../../img/sk2-images/login-bg-right.jpg') no-repeat center;
  background-size: 100% 100%;
}
body {
  padding: 0px;
}
