.nav {
  z-index: 10;
  position: relative;
}
.nav .nav-left {
  width: 270px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 8;
  position: fixed;
  background-color: #313446;
  font-size: 16px;
}
.nav .nav-left .nav-logo-box {
  padding-top: 18px;
  padding-left: 30px;
}
.nav .nav-left .nav-logo-box .nav-logo {
  width: 172px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.nav .nav-left .nav-logo-box .btn-silder {
  float: right;
  width: 21px;
  height: 17px;
  margin-top: 6px;
  margin-right: 10px;
  cursor: pointer;
  background: url("../../img/silder-on.jpg") no-repeat center;
}
.nav .nav-left .nav-list {
  margin-top: 40px;
  width: 100%;
}
.nav .nav-left .nav-list > li {
  margin-bottom: 20px;
}
.nav .nav-left .nav-list > li a {
  display: block;
  height: 56px;
  line-height: 56px;
  overflow: hidden;
  color: #cccfe3;
  padding-left: 32px;
}
.nav .nav-left .nav-list > li a .icon {
  margin-right: 30px;
  font-size: 18px;
  vertical-align: middle;
  color: #969696;
}
.nav .nav-left .nav-list > li a .fa-angle-right {
  padding: 0 15px;
  line-height: inherit;
  float: right;
  cursor: pointer;
  margin: 0;
}
.nav .nav-left .nav-list > li .nav-sub-list {
  display: none;
  border-top: 1px solid #313446;
}
.nav .nav-left .nav-list > li .nav-sub-list a {
  height: 74px;
  line-height: 74px;
  padding-left: 90px;
}
.nav .nav-left .nav-list > li .nav-sub-list a .icon-disc {
  width: 8px;
  height: 8px;
  float: right;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 33px;
  margin-right: 15px;
  display: none;
}
.nav .nav-left .nav-list > li .nav-sub-list a.active {
  color: #fff;
  padding-left: 100px;
}
.nav .nav-left .nav-list > li .nav-sub-list a.active .icon-disc {
  display: block;
}
.nav .nav-left .nav-list > li .float-box {
  position: absolute;
  top: 50%;
  left: 75px;
  padding: 30px;
  transform: translateY(-50%);
  display: none;
}
.nav .nav-left .nav-list > li .nav-sub-list-float {
  width: 170px;
  border-radius: 10px;
  background-color: #313446;
  box-shadow: #959595 0px 2px 12px 2px;
}
.nav .nav-left .nav-list > li .nav-sub-list-float li .icon-disc {
  display: none;
}
.nav .nav-left .nav-list > li .nav-sub-list-float a {
  height: 56px;
  line-height: 56px;
  text-align: center;
  padding-left: 0;
  border-radius: 10px;
}
.nav .nav-left .nav-list > li .nav-sub-list-float a.active {
  background-color: #292c3b;
}
.nav .nav-left .nav-list > li.active {
  background-color: #292c3b;
}
.nav .nav-left .nav-list > li.active > a {
  color: #fff;
  padding-left: 42px;
}
.nav .nav-left .nav-list > li.active > a .icon {
  font-size: 18px;
  color: #fff;
}
.nav .nav-left .nav-list > li.open .fa-angle-right {
  transform: rotate(270deg);
  color: #969696;
}
.nav .nav-left .nav-list > li.open .nav-sub-list {
  display: block;
}
.nav .nav-left .scrollbar-bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 120ms ease-out;
}
.nav .nav-left .scrollbar-bar .scrollbar-thumb {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
.nav .nav-left .is-vertical {
  width: 6px;
  top: 2px;
}
.nav .nav-mobile-left {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  z-index: 8;
  position: fixed;
  background-color: #313446;
  font-size: 16px;
  line-height: 80px;
  text-align: center;
}
.nav .nav-mobile-left .nav-mobile-logo {
  width: 172px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  position: fixed;
  left: 30px;
  top: 20px;
}
.nav .nav-mobile-left .nav-mobile-menu-box {
  width: 100px;
  height: 50px;
  position: fixed;
  right: 1px;
  top: 10px;
}
.nav .nav-mobile-left .mobile-nav-list {
  margin-top: 33px;
  width: 20%;
  float: right;
  margin-right: 66px;
  background-color: #313446;
}
.nav .nav-mobile-left .mobile-nav-list > li {
  margin-bottom: 20px;
}
.nav .nav-mobile-left .mobile-nav-list > li a {
  display: block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #cccfe3;
  text-align: left;
  padding-left: 10px;
}
.nav .nav-mobile-left .mobile-nav-list > li a .icon {
  margin-right: 30px;
  font-size: 18px;
  vertical-align: middle;
  color: #969696;
}
.nav .nav-mobile-left .mobile-nav-list > li a .fa-angle-right {
  padding: 0 15px;
  line-height: inherit;
  float: right;
  cursor: pointer;
  margin: 0;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list {
  display: none;
  border-top: 1px solid #313446;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list a {
  height: 74px;
  line-height: 74px;
  padding-left: 40px;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list a .icon-disc {
  width: 8px;
  height: 8px;
  float: right;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 33px;
  margin-right: 15px;
  display: none;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list a.active {
  color: #fff;
  padding-left: 25px;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list a.active .icon-disc {
  display: block;
}
.nav .nav-mobile-left .mobile-nav-list > li .float-box {
  position: absolute;
  top: 50%;
  left: 75px;
  padding: 30px;
  transform: translateY(-50%);
  display: none;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list-float {
  width: 170px;
  border-radius: 10px;
  background-color: #313446;
  box-shadow: #959595 0px 2px 12px 2px;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list-float li .icon-disc {
  display: none;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list-float a {
  height: 56px;
  line-height: 56px;
  text-align: center;
  padding-left: 0;
  border-radius: 10px;
}
.nav .nav-mobile-left .mobile-nav-list > li .nav-sub-list-float a.active {
  background-color: #292c3b;
}
.nav .nav-mobile-left .mobile-nav-list > li.active {
  background-color: #292c3b;
}
.nav .nav-mobile-left .mobile-nav-list > li.active > a {
  color: #fff;
  padding-left: 25px;
}
.nav .nav-mobile-left .mobile-nav-list > li.active > a .icon {
  font-size: 18px;
  color: #fff;
}
.nav .nav-mobile-left .mobile-nav-list > li.open .fa-angle-right {
  transform: rotate(270deg);
  color: #969696;
}
.nav .nav-mobile-left .mobile-nav-list > li.open .nav-sub-list {
  display: block;
}
.nav .nav-top {
  position: fixed;
  width: calc(100% - 270px);
  height: 70px;
  line-height: 70px;
  left: 270px;
  top: 0px;
  background-color: #fff;
  box-shadow: #dadada 0px 0px 16px 0px;
  min-width: 550px;
}
.nav .nav-top .icon {
  vertical-align: middle;
}
.nav .nav-top .tools-box {
  user-select: none;
  width: 164px;
  height: 70px;
  margin-left: 20px;
  font-size: 16px;
  float: left;
  cursor: pointer;
  position: relative;
}
.nav .nav-top .tools-box .icon-cube {
  margin-left: 30px;
  margin-right: 10px;
}
.nav .nav-top .tools-box .fa {
  margin-left: 20px;
  margin-top: -3px;
}
.nav .nav-top .tools-box .tools-list {
  width: 510px;
  height: 110px;
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
  z-index: 10;
  cursor: default;
}
.nav .nav-top .tools-box .tools-list li {
  width: 160px;
  margin-left: 47px;
  float: left;
  height: 87px;
  line-height: 87px;
  font-size: 14px;
  list-style-type: disc;
}
.nav .nav-top .tools-box .tools-list li a {
  color: #fff;
}
.nav .nav-top .tools-box:hover {
  color: #fff;
  background-color: rgba(30, 30, 30, 0.7);
}
.nav .nav-top .tools-box:hover .fa-angle-down {
  transform: rotate(180deg);
}
.nav .nav-top .tools-box:hover .tools-list {
  background-color: rgba(30, 30, 30, 0.7);
  display: block;
}
.nav .nav-top .tools-box.disabled {
  cursor: not-allowed;
}
.nav .nav-top .tools-box.disabled:hover {
  background-color: #fff;
  color: #595959;
}
.nav .nav-top .user-info-box li {
  float: left;
  font-size: 14px;
}
.nav .nav-top .user-info-box .user-balance {
  padding-right: 40px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  border-right: 1px solid #525e71;
  margin-right: 40px;
  margin-top: 25px;
}
.nav .nav-top .user-info-box .user-avatar {
  width: 38px;
  height: 38px;
  margin-top: 16px;
  margin-right: 15px;
  background-color: #b0b0b0;
  border-radius: 50%;
  text-align: center;
}
.nav .nav-top .user-info-box .user-avatar .icon {
  font-size: 24px;
  color: #fff;
  line-height: 38px;
  vertical-align: top;
}
.nav .nav-top .user-info-box p {
  line-height: normal;
}
.nav .nav-top .user-info-box .user-box {
  width: 160px;
  margin-right: 40px;
}
.nav .nav-top .user-info-box .user-box p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav .nav-top .user-info-box .user-account {
  margin-top: 15px;
}
.nav .nav-top .user-info-box .logout {
  margin-right: 20px;
  margin-top: 15px;
}
.nav.off .nav-left {
  width: 100px;
}
.nav.off .nav-left .nav-name {
  display: none;
}
.nav.off .nav-left .nav-logo-box {
  padding-left: 20px;
}
.nav.off .nav-left .nav-logo-box .nav-logo {
  background-image: url("../../img/nav-logo-off2.png");
  width: 34px;
  height: 34px;
}
.nav.off .nav-left .nav-logo-box .btn-silder {
  background-image: url("../../img/silder-off.jpg");
}
.nav.off .nav-left .nav-list > li {
  position: relative;
}
.nav.off .nav-left .nav-list > li > a {
  padding-left: 32px;
}
.nav.off .nav-left .nav-list > li > a .mb {
  margin-right: 0;
}
.nav.off .nav-left .nav-list > li .nav-sub-list {
  display: none;
}
.nav.off .nav-left .nav-list > li.active a .fa-angle-right {
  color: #fff;
  transform: rotate(0);
}
.nav.off .nav-left .nav-list > li:hover .float-box {
  display: block;
}
.nav.off .nav-top {
  width: calc(0%);
  left: 100px;
}
@media screen and (max-width: 1400px) {
  .nav .nav-left .nav-list > li a {
    line-height: 40px;
    height: 40px;
  }
  .nav .nav-left .nav-list > li .nav-sub-list a {
    line-height: 50px;
    height: 50px;
  }
  .nav .nav-left .nav-list > li .nav-sub-list a .icon-disc {
    margin-top: 21px;
  }
  .nav .nav-left .nav-list > li .nav-sub-list {
    padding: 10px 0;
  }
}
